.addUser {
  background-color: white;
  width: 100%;
  width: 750px;
  max-width: 400px;
  margin: 50px auto;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
}

.addUserForm .inputGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
}


.inputGroup input{
  border-radius: 10px;
}

.addUserForm .inputGroup label {
  margin-top: 10px;
}

.addUserForm .inputGroup input {
  margin-top: 5px;
  padding: 10px;
  width: 100%; 
}

.inputGroup button {
  margin-top: 10px;
}

.login {
  margin-top: 30px;
  text-align: center;
}

.login .btn {
  width: 100%; 
}

.addUser h3 {
  text-align: center;
  font-weight: bold;
  color: rgb(16, 74, 40);
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}
