#root {
  width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.spinner {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.import-button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.app-container {
  text-align: center;
  padding: 20px;
}

.chart-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.chart-button:hover {
  background-color: #45a049;
}

.navbar{
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1000;
}

.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  height: 80vh;
  width: 100%;
}

.map-container div{
  background-color: #fff;
}

.chart-container {
  margin-top: 20px;
}

.custom-tooltip {
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.custom-tooltip .label {
  font-weight: bold;
  color: #333;
}

.custom-tooltip .intro {
  color: #666;
  margin-top: 5px;
}

.custom-tooltip .car-count {
  color: #8884d8;
}

.custom-tooltip .avg-time {
  color: #82ca9d;
}

.leaflet-control-attribution{
  display: none;
}

